/*.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: solid black 10px;

}*/

/*
.flex-item2{
  height: 100%;
  display: flex;
  justify-content: center;
}


.flex-item3 {



  width: 100%;
}
*/
