.userProfileForm {
  /*  display: flex;
    flex-direction: column;*/
}

.Field {
  display: flex;
  padding: 30px 10px;
  font-size: 16px;
}

.Field-label {
  width: 150px;
  padding: 0 20px 0 20px;
}

.head-image {
  background-image: url("../../assets/images/headImage.jpg");
  background-size: cover;
  border-radius: 10%;
}

.head {
  display: flex;
}

.mat-card-header {
  padding: 10px 20px;
}

.mat-radio-button {
  padding: 0 10px;
}

.Field-detail {
  display: flex;

}

.toggle {
  margin-left: auto;
  padding: 0 0 0 20px;
}

.bio{
  width: 100%;
}
